# Prerequisites
*.d
build/*
/test.h
/test.c
tauoutput.txt

# Compiled Object files
*.slo
*.lo
*.o
*.obj
.vscode/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
